.work-experience {
    background: radial-gradient(
        50% 50% at 50% 50%,
        #763cac 0%,
        rgba(50, 15, 133, 0) 100%
    );
    .box {
        display: flex;
        align-items: center;
        background: linear-gradient(
            110.49deg,
            #130428 19.95%,
            #251043 67.64%,
            #38126d 107.08%,
            #261045 156.61%,
            #190634 183.21%
        );
        margin: 5px;
        margin-bottom: 15px;
        padding: 30px;
        box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        border-top: 4px solid #4f228d;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        img {
            margin-inline-end: 30px;
        }
    }
}
